.about {
  display: flex;
  align-items: flex-start;   /* centra verticalmente immagine e testo */
  gap: 4rem;             /* spazio tra immagine e testo */
  margin: 2rem 4rem;
  max-width: 90%;     /* larghezza massima contenitore */
}
.about-text {
  flex-grow: 1;     
  /*font-size: 18px;
  line-height: 1.6;
  font-family: Helvetica, sans-serif;*/
}


.img-swap-wrapper {
  position: relative;
  flex-shrink: 0;
  width: 300px;       /* adatta alla tua esigenza */
  height: 450px;
  overflow: hidden;
  cursor: pointer;
}

.img-swap-wrapper img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.35s ease;
}

.img-swap-wrapper .img-default { opacity: 1; }
.img-swap-wrapper .img-hover   { opacity: 0; }

.img-swap-wrapper:hover .img-default { opacity: 0; }
.img-swap-wrapper:hover .img-hover   { opacity: 1; }

.education {
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: -1rem;
}

/* responsive opzionale */
@media (max-width: 768px) {
  .about { flex-direction: column; }
  .img-swap-wrapper { 
    width: 90%; 
    max-width: 250px;
  }
}